# Comments & Basic Data Types

In [4]:
"""This
is 
a multi-line
comment"""
print("Hello") # this is a comment

Hello

In [14]:
# the following are all integers
print(2)
print(10)
# the following are all floats
print(10.953)
print(8.0) # even this  numbeer is a float
# the following are booleans
print(True)
print(False)
# the following are strings
print("")
print("There's a snake in my boot!")
print("True")
print("10")
print("My name is Mary")
type("10")

2
10
10.953
8.0
True
False

There's a snake in my boot!
True
10
My name is Mary

str

# Variables

In [1]:
first_name = "Mary"
first_name

'Mary'

In [2]:
num1=5
num2 = 8.4
print(num1, num2)

5 8.4

In [3]:
switch = True
print(switch)

True

In [4]:
name = "Mary"
fav_number = 24
print(name, fav_number)

Mary 24

In [5]:
result = num1 + num2
print(result)

13.4

In [6]:
result += 1
print(result)
result *= num1 #same as saying result = result * num1
print(result)

14.4
72.0

In [7]:
name = "sam"
print(name)
name = "stan"
print(name)
name = 10
print(name)

sam
stan
10

# Working with Strings

In [32]:
name = "Mary" + " " + "Nash"
print(name)
first_name = "Mary"
last_name = "Nash"
full_name = first_name + " " + last_name
print(full_name)
name = "Mary"
print("Hello {}".format(name))
print("Hello {}, you are {} years old.".format(name, 38))

# new way to inject variables into a string
print(f"Hello, {name}, you are 38 years-old")

# difference between versions 2 and 3
name = "Tweety Bird"
print("Hello, %s" %(name))
tweet_age = 13
print("Hello, %s, you are %d years-old" %(name, tweet_age))
word = "Hello"
print(word[0])
print(word[1])

#index of negative number will result in accessing info from the back -- so -1 is o -- i guess no zero from back??
print(word[-1])

#string slicing -- when you only want a piece of the variable, e.g "He" from "Hello"
print(word[0:2])
print("'"+word[1:5])

#syntax for slicing is always [start: stop: step]
print(word[0:5:2])
print(word[0:5:3])
phrase = "Hello, World"
print(phrase[0:13:4]) #Hoo

Mary Nash
Mary Nash
Hello Mary
Hello Mary, you are 38 years old.
Hello, Mary, you are 38 years-old
Hello, Tweety Bird
Hello, Tweety Bird, you are 13 years-old
H
e
o
He
'ello
Hlo
Hl
Hoo

In [5]:
integer1 = 23
boolean1 = False
float1 = 4.5
string1 = "Mary"
print(integer1, float1, boolean1, string1)
#format method
name = "Mary"
program = "Python"
sport = "basketball"
print(f"{name}'s favorite sport is {sport}")
print(f"{name} is working on {program} programming")

23 4.5 False Mary
Mary's favorite sport is basketball
Mary is working on Python programming

# Manipulating Strings

In [21]:
#using the title method to capitalize first letter of word in string
name = "john smith"
print(name.title())
print(name.lower(), name.upper())

#using replace method to switch an exclamation point to a period
words= "Hello there!"
print(words.replace("!", "."))
# if want to permanently change words variable must write like so:
words = print(words.replace("!", "."))

#finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

#removing white space with strip method
name = "    john     "
print(name.strip())
#does not remove space between words
name = "john warrenton smith"
print(name.strip())
name = "    Mary       "
print(name.lstrip())
print(name.rstrip())

#converting string to list of words using split method
s = "These words are separated by spaces"
print(s.split(" "))

string1 = "uppercase"
print(string1.upper())
string2= "LOWERCASE"
print(string2.lower())
#strip all the dollar signs from the left side of the string
string3 ="$$$$john smith $$$"
print(string3.lstrip("$"))
print(string3.rstrip("$"))
print(string3.strip("$"))

John Smith
john smith JOHN SMITH
Hello there.
Hello there.
5
john
john warrenton smith
Mary
    Mary
['These', 'words', 'are', 'separated', 'by', 'spaces']
UPPERCASE
lowercase
john smith $$$
$$$$john smith
john smith

# Friday Project: Printing Receipts.

In [39]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89
#create company name and information
company_name = "coding temple, inc"
company_address = "283 Franklin St."
company_city = "Boston, MA"
#declare ending message
message = "Thanks for shopping with us today!"

#create top border
top_border = "*" * 50
print(top_border)
#print company information first, using format
#escape character is the "\t"  pretty sure it means tab
print("\t\t{}".format(company_name.title()))
print(f"\t\t{company_address}")
print(f"\t\t{company_city}")

second_border = "=" * 50
print(second_border)

#print out header for section of items
print("\tProduct Name\tProduct Price")
#create a print statement for each product
print(f"\t{p1_name}\t\t${p1_price}")
print(f"\t{p2_name}\t${p2_price}")
print(f"\t{p3_name}\t\t${p3_price}")
print(second_border)
#print out header for secion of total
print("\t\tTotal")
#calculate total price and print out
total = p1_price + p2_price + p3_price
print(f"\t\t${total}")
#output thank you message
print(f"\n{message}")
bottom_border = "_" * 50
print(bottom_border)

**************************************************
		Coding Temple, Inc
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
		Total
		$754.83

Thanks for shopping with us today!
__________________________________________________