# Comments & Basic Data Types

In [4]:
"""This
is 
a multi-line
comment"""
print("Hello") # this is a comment

Hello

In [14]:
# the following are all integers
print(2)
print(10)
# the following are all floats
print(10.953)
print(8.0) # even this  numbeer is a float
# the following are booleans
print(True)
print(False)
# the following are strings
print("")
print("There's a snake in my boot!")
print("True")
print("10")
print("My name is Mary")
type("10")

2
10
10.953
8.0
True
False

There's a snake in my boot!
True
10
My name is Mary

str

# Variables

In [1]:
first_name = "Mary"
first_name

'Mary'

In [2]:
num1=5
num2 = 8.4
print(num1, num2)

5 8.4

In [3]:
switch = True
print(switch)

True

In [4]:
name = "Mary"
fav_number = 24
print(name, fav_number)

Mary 24

In [5]:
result = num1 + num2
print(result)

13.4

In [6]:
result += 1
print(result)
result *= num1 #same as saying result = result * num1
print(result)

14.4
72.0

In [7]:
name = "sam"
print(name)
name = "stan"
print(name)
name = 10
print(name)

sam
stan
10

# Working with Strings

In [32]:
name = "Mary" + " " + "Nash"
print(name)
first_name = "Mary"
last_name = "Nash"
full_name = first_name + " " + last_name
print(full_name)
name = "Mary"
print("Hello {}".format(name))
print("Hello {}, you are {} years old.".format(name, 38))

# new way to inject variables into a string
print(f"Hello, {name}, you are 38 years-old")

# difference between versions 2 and 3
name = "Tweety Bird"
print("Hello, %s" %(name))
tweet_age = 13
print("Hello, %s, you are %d years-old" %(name, tweet_age))
word = "Hello"
print(word[0])
print(word[1])

#index of negative number will result in accessing info from the back -- so -1 is o -- i guess no zero from back??
print(word[-1])

#string slicing -- when you only want a piece of the variable, e.g "He" from "Hello"
print(word[0:2])
print("'"+word[1:5])

#syntax for slicing is always [start: stop: step]
print(word[0:5:2])
print(word[0:5:3])
phrase = "Hello, World"
print(phrase[0:13:4]) #Hoo

Mary Nash
Mary Nash
Hello Mary
Hello Mary, you are 38 years old.
Hello, Mary, you are 38 years-old
Hello, Tweety Bird
Hello, Tweety Bird, you are 13 years-old
H
e
o
He
'ello
Hlo
Hl
Hoo

In [5]:
integer1 = 23
boolean1 = False
float1 = 4.5
string1 = "Mary"
print(integer1, float1, boolean1, string1)
#format method
name = "Mary"
program = "Python"
sport = "basketball"
print(f"{name}'s favorite sport is {sport}")
print(f"{name} is working on {program} programming")

23 4.5 False Mary
Mary's favorite sport is basketball
Mary is working on Python programming