# Comments & Basic Data Types

In [4]:
"""This
is 
a multi-line
comment"""
print("Hello") # this is a comment

Hello

In [14]:
# the following are all integers
print(2)
print(10)
# the following are all floats
print(10.953)
print(8.0) # even this  numbeer is a float
# the following are booleans
print(True)
print(False)
# the following are strings
print("")
print("There's a snake in my boot!")
print("True")
print("10")
print("My name is Mary")
type("10")

2
10
10.953
8.0
True
False

There's a snake in my boot!
True
10
My name is Mary

str

# Variables

In [1]:
first_name = "Mary"
first_name

'Mary'

In [2]:
num1=5
num2 = 8.4
print(num1, num2)

5 8.4

In [3]:
switch = True
print(switch)

True

In [4]:
name = "Mary"
fav_number = 24
print(name, fav_number)

Mary 24

In [5]:
result = num1 + num2
print(result)

13.4

In [6]:
result += 1
print(result)
result *= num1 #same as saying result = result * num1
print(result)

14.4
72.0

In [7]:
name = "sam"
print(name)
name = "stan"
print(name)
name = 10
print(name)

sam
stan
10

In [ ]:
name = "Joh"